/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
* {
    font-family: "Molengo", sans-serif;
    font-style: normal;
    text-decoration: none;
}
/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #101319;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #101319;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    height: 230vh;
    overflow: hidden;
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #152039;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    z-index: -1;
}

header {
    margin: 0px 0px 0px 1px;
    padding: 5px 0px 0px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #152039;
    box-shadow: 0 2px 4px rgba(24, 23, 23, 0.863);
    border-radius: 10px 10px 10px 10px; 
}
.logo img {
    width: 50px; 
    height: auto;
    margin-left: 10px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper {
    display: flex;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: white;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0; 
    bottom: 0;
    left: -100%;
    background-color: #BBA0ED;
    transition: all 0.3s step-start;
}

nav ul li a:hover::before {
    left: 0;
    height: 2px;
}

nav ul li a:hover {
    color: #BBA0ED;
    font-size: 20px;
    font-family: "Madimi One", sans-serif;
}

/* Language Bar */
.language {
    display: block;
    margin-bottom: 5px;
}
.language img {
    width: 20px;
    height: auto;
    margin-right: 5px;
    
}
#translate-icon {
    cursor: pointer;
    background: #152039;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #152039;
    color: #000;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #152039;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto; 
}
.dropdown-content a {
    color: White;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #BBA0ED;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Home */
.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;
    order: 1;
}

#E_logo {
    width: 400px;
    margin: 20px 100px 0px 100px;
    padding: 0px 100px 0px 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Home h1 {
    color: White;
    font-size: 40px;
    font-family: "Madimi One", sans-serif;
    text-align: center;
    padding: 10px 0px 20px 0px;
}


/* Slider */
.slider-parent {
    display: flex;
    justify-content: center;
    align-items: self-start;
    height: 40vh;
}

.slider-container {
    position: relative;
    width: 70%;
    height: 150px;
}

.slider {
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
}

.slider-img {
    position: absolute;
    width: 50%; 
    height: 120%; 
    opacity: 0;
    transition: opacity 1s;
    border: 3px solid rgb(216, 205, 205);
}


/* About */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: both;
    width: 100%;
}
.about-section h2 {
    text-align: center;
    color: #BBA0ED;
    font-size: 30px;
    width: 100%;
    order: 1;
}
.column-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 2;
}
.column-1, .column-2, .column-3 {
    flex: 1;
    margin: 0 5px;
    padding: 20px;
    background-color: #101319;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    color: white;
}
.column p {
    /* Add any styles you want for the paragraph text here */
}
.column-2 img {
    align-items: center;
}
.column-3 img{
    width: 40px;
    height: 40px;
}
.column-3 p{
    font-size: 16px;
    font-family: "Madimi One", sans-serif;
}
.column-3 p a{
    color: rgb(148, 2, 206);
    text-decoration: none;
    font-size: 19px;
    font-family: "Madimi One", sans-serif;
}

.download-button {
    background-color: #BBA0ED;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.download-button:hover {
    background-color: #BBA0ED;
}


/* Styles for tablets */
@media (max-width: 768px) {
    .logo img {
        width: 30px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .Home {
        padding-top: 80px; /* Adjust as needed */
        font-size: 18px; /* Adjust as needed */
    }

    #E_logo {
        width: 200px; /* Adjust as needed */
    }

    .slider {
        width: 100%;
        height: calc(50vh - 60px); /* Adjust as needed */
    }

    .slider-img {
        min-width: 100%;
    }
}

/* Styles for phones */
@media (max-width: 480px) {
    .logo img {
        width: 20px; /* Adjust as needed */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .Home {
        padding-top: 100px; /* Adjust as needed */
        font-size: 14px; /* Adjust as needed */
    }

    #E_logo {
        width: 100px; /* Adjust as needed */
    }

    .slider {
        width: 100%;
        height: calc(30vh - 60px); /* Adjust as needed */
    }

    .slider-img {
        min-width: 100%;
    }
}